<section>
    <h2>Login</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat illum amet eligendi maxime iste reprehenderit recusandae perferendis corrupti! Sapiente maxime expedita repellendus error totam obcaecati, distinctio dolor enim mollitia suscipit?</p>
    <article>
        <div>
            <h3>Login</h3>
            <label>Usuario</label>
            <input type="text" name="" id="" placeholder="ingrese su usuario..">
            <label>Contraseña</label>
            <input type="text" placeholder="Ingrese su contraseña.">
            <button>Enviar</button>
        </div>
    </article>
</section>